gunicorn
uvicorn
uvloop
httptools
fastapi
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
motor
requests
pytest
pytest-ordering
paypalhttp==1.0.0
paypal-checkout-serversdk==1.0.1